<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>

  <meta charset="UTF-8">
  <title>Ta Sten</title>


  </meta>
  <style>
    #games {
      font-family: Arial, Helvetica, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    #games td, #games th {
      border: 1px solid #ddd;
      padding: 8px;
    }

    #games tr:nth-child(even){background-color: #9370DB;}

    #games tr:hover {background-color: #ddd;}

    #games th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color:     #4B0082;
      color: white;
    }
  </style>

</head>
<body>
<img th:src="@{/images/rps.png}"  style=" display: block;
  margin-left: auto;
  margin-right: auto;
  width: 700px;"/>

<table id="games">
  <tr>
    <th >Name</th>
    <th >State</th>
    <th >move</th>
  </tr>
  <tr th:each="p : ${players}">
    <td th:text="${p.name}" ></td>
    <td th:text="${p.state}" ></td>
    <td th:text="${p.selection}" ></td>

  </tr>
</table>

</body>
</html>
